/* CSS Document */
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
h1 {
	font-size:16px;
	font-weight:bold;
	color:#376b1f;
}
h2 {
	font-size:14px;
	font-weight:bold;
	color:#376b1f;
}
h3 {
	font-size:12px;
	font-weight:bold;
	color:#376b1f;
}
h4 {
	font-size:11px;
	font-weight:bold;
	font-style:italic;
	color:#376b1f;
}
.recuadro {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	border:1px solid #376b1f;
	background-color:#e1f7d7;
	padding:10px 20px 10px 20px;
}
.destacado {
	color:#CE0000;
}

#header {
	background: repeat-x left url(../images/header-bg.png);
	height: 44px;
}

#header .activiti-component {
  	background: top right no-repeat url(../images/header-right-bg.png);
  	height: 44px;
}

#header .application-info {
  	float: left;
  	padding-left: 2em;
  	padding-top: 0.2em;
}

#header .user-info {
  	float: left;
  	padding-left: 0.5em;
  	padding-top: 0.8em;
  	font-size:20px;
	color:#62c434;
}

.section, .section h2, .section h3 {
	font-size:90%;
	font-weight:normal;
	color:#000000;
	background:none;
	border:0px;
}
